@import "tailwindcss";




@layer utilities {
  .boxShadowWhite {
    box-shadow: 4px 4px 0 #fff;
  }

  .boxShadowBlack {
    box-shadow: 4px 4px 0 #000;
  }

  .hover\:boxShadowBlack:hover {
    box-shadow: 4px 4px 0 #000;
  }
  .gridTemplateColumns {
    grid:"repeat(auto-fit,minmax(200px,1fr))";
  } 
}